body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(161, 138, 5, 0.959), rgb(22, 21, 21));  
   
}   

.bubbles{
    position: absolute;
    top: -65px;
    display: flex;
    width: 100%;
    justify-content:space-around;
}

.bubbles span{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: rgb(255,255,255,0.1);
    box-shadow: 0 20px 50px rgba(95, 90, 90, 0.15);
    backdrop-filter: blur(5px);
    animation: move 10s linear infinite;
    position: relative;
    overflow: hidden;
}
@keyframes move{
    100%{
        transform: translateY(90vh);
    }
}

.bubbles span.first{
    animation-delay: 2.2s;
    transform: scale(1)
}

.bubbles span.second{
    animation-delay: 3.5s;
    transform: scale(0.65)
}
.bubbles span.third{
    animation-delay: 0.2s;
    transform: scale(0.5)
}
.bubbles span.fourth{
    animation-delay: 6s;
    transform: scale(1.1)
}
.bubbles span.fifth{
    animation-delay: 7s;
    transform: scale(0.75)
}
.bubbles span.sixth{
    animation-delay: 4;
    transform: scale(0.85)
}
.bubbles span.seventh{
    animation-delay: 4.3s;
    transform: scale(1.2)
}
.bubbles span.eighth{
    animation-delay: 3s;
    transform: scale(0.5)
}
.bubbles span.nineth{
    animation-delay: 0.8s;
    transform: scale(1.25)
}
.bubbles span.tenth{
    animation-delay: 1.5s;
    transform: scale(0.8)
}
.bubbles span:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    width: 30px;
    transform:skew(45deg) translate(150px);
    background: rgba(255,255,255,0.15);
    animation: mirror 3s linear infinite;
}
@keyframes mirror{
    100%{
        transform: translateX(-450px);
    }
}

.bubbles span.first:before{
    animation-delay: 1.5s;
}
.bubbles span.second:before{
    animation-delay: 3.5s;
}
.bubbles span.third:before{
    animation-delay: 2.5s;
}
.bubbles span.fourth:before{
    animation-delay: 7.5s;
}
.bubbles span.fifth:before{
    animation-delay: 5.4s;
}
.bubbles span.sixth:before{
    animation-delay: 0.5s;
}
.bubbles span.seventh:before{
    animation-delay: 4.5s;
}
.bubbles span.eighth:before{
    animation-delay: 1.9s;
}
.bubbles span.nineth:before{
    animation-delay: 2.8s;
}
.bubbles span.tenth:before{
    animation-delay: 5.7s;
}

.container{
    width: 300px;
    padding: 15px;
    border-radius:15px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 20px 50px rgba(161, 138, 5, 0.959);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.container_input[type="text"]{
    width: 100%;
    height: 100px;
    margin: 0 3px;
    outline: none;
    border:none;
    color:#fff;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    background: transparent;
}

.button_input[type="button"]{
    height: 30px;
    color: #fff;
    width: calc(100% /4 - 20px);
    background: transparent;
    border-radius: 12px;
    margin-top:15px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor:pointer;
    transition: all 0.3s ease;

}
.button_input[type="button"]:hover{
    background-color: rgba(191, 194, 47, 0.404);
    color: rgba(102, 95, 4, 0.829);
}